<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [370, 87]
  Dashing.numColumns = 5
});
</script>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="5" data-sizex="5" data-sizey="6">
      <div data-id="spread" data-view="Spread" data-title="Spreadsheet Document" id="spreadWidget_content"></div>
    </li>
  </ul>
</div>
